# 컬렉션 관리 함수 p242
 - enumerate(컬렉션) : 컬렉션이 index와 요소값을 반환해주는 내장함수
 - zip() : 여러 개의 컬렉션을 하나로 합쳐서 반환해주는 내장함수
 <br><br>
 - anyall
     - any() : 전달인자로 받은 데이터 중 하나라도 True이면 True (or)
     - all() : 전달인자로 받은 데이터 모두 True여야 True (and)

In [4]:
race = ['저그', '테란', '프로토스']
print (enumerate(race))
print(list(enumerate(race)))
print(list(enumerate('korea')))

<enumerate object at 0x000002266DB31640>
[(0, '저그'), (1, '테란'), (2, '프로토스')]
[(0, 'k'), (1, 'o'), (2, 'r'), (3, 'e'), (4, 'a')]

In [2]:
test = {"addr":"서울", "aga":23, "name":"hong"}
print(list(enumerate(test))) # 키에 대한 목록을 반환
print(dict(enumerate(test))) # 딕셔너리도 가능하지만 보통은 list를 씀

[(0, 'addr'), (1, 'aga'), (2, 'name')]
{0: 'addr', 1: 'aga', 2: 'name'}

In [28]:
test = {'무', '야', '호'} 
list(enumerate(test)) # 키를 넣지 않으면 임의의 키

[(0, '야'), (1, '무'), (2, '호')]

# 기타 함수 p247
 - filter() : 리스트의 요소 중 조건에 맞는 것만 고르기
 - map() : 모든 요소에 대해 변환 함수를 호출하여 새 요소값으로 구성된 리스트 생성

In [6]:
# filter()
def flunk(date):
    return date < 60

score = [45, 89, 72, 53, 94]
for data in filter(flunk, score):
    print(data)
    
print (list(filter(flunk, score)))

45
53
[45, 53]

In [5]:
# map()
def half(s):
    return  s/2

score = [45, 89, 72, 53, 94]
for data in map(half, score):
    print(data)

print(list(map(half, score)))

22.5
44.5
36.0
26.5
47.0
[22.5, 44.5, 36.0, 26.5, 47.0]

In [3]:
# [문제] 일주일 동안 알바를 했을 때 알바비를 계산하시오
# map() 사용
# 최저시급 : 9620원
hourly = 9620
def salary(hour):
    return hourly * hour

work = [5, 7, 4, 10, 8]
print(list(map(salary, work)))
total = sum(list(map(salary, work))) # work값을 salary로 값을 하나씩 전달
print("주급 : ", format(total, ','))
print(f"주급 : {total:,}")

[48100, 67340, 38480, 96200, 76960]
주급 :  327,080
주급 : 327,080

# 람다 함수(lambda) p249
 - 연산이 간단할 때 추천 (데이터 분석(Pandas)에서 많이 사용)
 - 람다는 수학의 람다대수에서 유래됨
 - 익명함수로서 단일문으로 생성된 함수
 - 사용방법
     <br> lamdba 매개변수 : 리턴할 수식

In [103]:
# def salary(hour):
#     return hourly * hour
# 람다함수로 변환
lambda hour : 9620 * hour # 함수 이름X(익명함수)

In [87]:
def add(a, b):
    return a + b

result = add(10, 20)
print(result)

# 람다함수로 변환
result2 = lambda a, b : a + b
print(result2(10, 20)) # result2가 함수 이름으로

30
30

In [8]:
c = [1, 2, 3, 4]
f = lambda x : x**2
f(2) # 2가 람다 x로 전달

list(map(f, c))

[1, 4, 9, 16]

In [7]:
c1 = [1, 2, 3, 4, 5]
c2 = [1, 2, 3, 4, 5]

f1 = lambda x, y : x + y

list(map(f1, c1, c2)) # c1, c2값이 하나씩 x, y로

[2, 4, 6, 8, 10]

In [9]:
# 값으로서의 함수
# 함수를 바른 변수에 대입 가능
def add(a, b):
    print(a + b)
    
add(11, 22) # 함수를 호출
plus = add(22, 33) # 반환된 값을 plus에 치환 
plus = add #plus가 add의 주소값 받음
add(10,22)
plus(12,45)

33
55
32
57

In [9]:
def add(a, b):
    print(a + b)
    
def minus(a, b):
    print(a - b)
    
def mulitply(a, b):
    print(a * b)
    
# f : 함수명, a, b : 값
def calc(f, a, b):
    f(a, b)
    
calc(add, 10, 20)
calc(minus, 10, 20)
calc(mulitply, 10, 20)

30
-10
200

In [26]:
# 데이터를 튜플로 받을 때
# 최소 1개 이상 전달해야만 temp가 동작
# 함수의 매개변수에 *을 붙이려면 맨뒤에 붙여야 한다!!!
def temp(k, *arg): 
    print(k, arg)
    
temp(1, 2, 3)
temp(1)
# temp() : 최소값인 k가 없어서 오류 # 데이터를 딕셔너리로 받을 때
def temp2(**kwargs): 
    print(kwargs)
    
temp2(name = '홍길동', age  = 20, phone = '010')
temp2('저팔계', age  = 20, phone = '010')

1 (2, 3)
1 ()

In [211]:
# 데이터를 딕셔너리로 받을 때
def temp2(**kwargs): 
    print(kwargs)
    
temp2(name = '홍길동', age  = 20, phone = '010')
temp2('저팔계', age  = 20, phone = '010')

{'name': '홍길동', 'age': 20, 'phone': '010'}

TypeError: temp2() takes 0 positional arguments but 1 was given

In [214]:
# 데이터를 딕셔너리로 받을 때
def temp2(name, **kwargs):
    kwargs['name'] = name
    print(kwargs)
    
temp2(name = '홍길동', age  = 20, phone = '010')
temp2('저팔계', age  = 20, phone = '010')

{'age': 20, 'phone': '010', 'name': '홍길동'}
{'age': 20, 'phone': '010', 'name': '저팔계'}

help(sum)

In [66]:
# 호출을 이렇게 할경우 이것이 동작되게 하는 함수를 정의하면?
def sample(*args, plus = 'sum', check = False): # *args는 튜플로 뒤에는 딕셔너리로 받는다
    print(args)
    print(plus)
    print(check)

sample(1, 2, 3, 4, plus = 'haha', check = True) # 키 없이 보내면 *args

(1, 2, 3, 4)
haha
True

In [67]:
# 호출을 이렇게 할경우 이것이 동작되게 하는 함수를 정의하면?
def sample(*args, **kwargs): # *args는 튜플로 뒤에는 딕셔너리로 받는다
    print(args)
    print(kwargs)

sample(1, 2, 3, 4, plus = 'haha', check = True) # 키 없이 보내면 *args

(1, 2, 3, 4)
{'plus': 'haha', 'check': True}

from sklearn.model_selection import train_test_split

# help(train_test_split)
train_test_split([1, 2, 3], random_state = 2, stratify = True)

# 컬렉션의 사본(*) p251
- 리스트의 사본
    - varcopy : 기본형 변수는 독립적, 둘 중 하나를 바꾸어도 다른 변수에 영향X
    <br><br>
    - listcopy : 독립된 사본이 아니라 같은 메모리를 가르킴
        - 두 리스트를 독립적인 사본으로 만드려면 copy 메서드로 복사본 생성
    - deepcopy : 리스트 안에 리스트가 있으면(2차원 배열이면) deepcopy 메서드 사용!
        - import copy

In [83]:
# 얕은 복사
list0 = ['a', 'b']
list1 = [list0, 1, 2]

# 대입
temp = list2.copy

list2[1] = 'c' # 복사본을 바꿨는데

print("원본 : ", list2) # 원본도 바뀌어 있음
print("복사본 : ", temp)

원본 :  [['a', 'b'], 'c', 2]
복사본 :  [['a', 'b'], 'c', 2]

In [215]:
# 얕은 복사 : copy()를 사용했으나 2차원이라 딥카피X!!!
list0 = ['a', 'b']
list1 = [list0, 1, 2]
list2 = list1.copy()

list2[0][1] = 'x' # 복사본을 바꿨는데 # 2차원은 deepcopy를 해야 깊은복사

print("원본 : ", list1) # 원본도 바뀌어 있음
print("복사본 : ", list2)

원본 :  [['a', 'x'], 1, 2]
복사본 :  [['a', 'x'], 1, 2]

In [80]:
# 깊은 복사
# 2차원 일 때 진정한 딥카피가 된다.
import copy

list0 = ['a', 'b']
list1 = [list0, 1, 2]
list2 = copy.deepcopy(list1)

list2[0][1] = 'x' # 복사본을 바꿨는데
print("원본 : ", list1) # 원본은 그대로
print("복사본 : ", list2)

원본 :  [['a', 'b'], 1, 2]
복사본 :  [['a', 'c'], 1, 2]

In [165]:
# [연습문제] p256
# 1
def find(date):
    return date % 6 == 0

a = list(range(1,11))

a2 = lambda a : a**2
b = list(map(a2, a))

ab = lambda a, b : a + b
c = list(map(ab, a, b))

print("a : ", a)
print("b : ", b)
print("a + b : ", c)
print(f"결과 : {list(filter(find, c))}")

a :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
a + b :  [2, 6, 12, 20, 30, 42, 56, 72, 90, 110]
결과 : [6, 12, 30, 42, 72, 90]

In [209]:
# 1 - v2
a = list(range(1,11))
f = lambda a : a**2
b = list(map(f, a))
c = [x + y for x, y in zip(a, b)]
d = list(filter(lambda x : x % 6 == 0, c))

print("a : ", a)
print("b : ", b)
print("a + b : ", c)
print("결과 : ", d)

a :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b :  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
a + b :  [2, 6, 12, 20, 30, 42, 56, 72, 90, 110]
결과 :  [6, 12, 30, 42, 72, 90]

In [201]:
# 2
price = [10000, 15000, 30000]
sale = lambda price : price * 0.8
result = list(map(sale, price))

result = [int(i) for i in result] # List Comprehension을 사용해 정수로

print(f"세일전 : {price}")
print(f"세일후 : {result}")

세일전 : [10000, 15000, 30000]
세일후 : [8000, 12000, 24000]

In [204]:
# 2 - v2
price = [10000, 15000, 30000]
sale_price1 = list(map(lambda y : int(y), list(map(lambda x : x * 0.8, price)))) # lombda?
sale_price2 = [int(fee) for fee in list(map(lambda x : x * 0.8, price))]         # List Comprehension

print(f"세일전 : {price}")
print(f"세일후 : {sale_price1}")
print(f"세일후 : {sale_price2}")

세일전 : [10000, 15000, 30000]
세일후 : [8000, 12000, 24000]
세일후 : [8000, 12000, 24000]